* {
	margin: 0;
	padding: 0;
}

body {
	 font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.headerLeft img {
	width: 70px;
}

.row* {
	padding: 0px;
}

.material img {
	width: 18px;
}

.headerMiddle input {
	border: none;
	width: 100%;
	padding: 4px;
	background-color: transparent;
}

.headerRight .material {
	cursor: pointer;
}


.sideBarCompose {
	border-radius: 30px;
	border: none;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sideBarOption {
	display: flex;
	padding: 3px;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 12px;
	cursor: pointer;
	color: #818181;
	width: 140px;
	border:none;
}
button{
	font-size: 12px;
}
.sideBarOption h3 {
	flex: 1;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 400;
}

.sideBarOption:hover,
.sideBarOption:hover h3,
.sideBarOption:hover .material,
.sideBarOptionActive,
.sideBarOptionActive h3,
.sideBarOptionActive .material {
	background-color: #fcecec;
	color: #cd0b37;
}

.sideBarFooter {
	display: flex;
	justify-content: center;
}

.sideBarFooterIcons .material {
	margin: 7px;
	cursor: pointer;
}

.section {
	display: flex;
	align-items: center;
	border-bottom-width: 2px;
	padding: 15px;
	min-width: 200px;
	cursor: pointer;
	color: gray;
	border-width: 0;
}

.emailListSections {
	display: flex;
	background-color: white;
	border-bottom: 1px solid whitesmoke;
	z-index: 1;
}

.sectionSelected {
	background-color: whitesmoke;
	border-width: 3px;
	color: red;
	border-bottom: 3px solid red;
}

.section:hover {
	background-color: whitesmoke;
	border-width: 3px;
}


.emailListSettingLeft img,
.emailListSettingRight img {
	cursor:pointer;
}

.section h4 {
	font-size: 14px;
	margin-left: 15px;
}

.emailRowOptions {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.emailRowOptions .material img {
	width: 18px;
}

.emailRow {
	display: flex;
	align-items: center;
	border-bottom: 1px solid whitesmoke;
	cursor: pointer;
}

.emailRow:hover {
	border-top: 1px solid whitesmoke;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 24);
}

.emailRowMessage {
	display: flex;
	flex: 0.8;
	align-items: center;
	font-size: 12px;
}

.emailRowMessage h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	padding-right: 100px;
	font-size: 12px;
	font-weight:bold;
}

.emailRowTitle {
	font-size: 12px;
	font-weight: bold;
}

.emailRowTime {
	padding-right: 15px;
	font-size: 10px;
	font-weight: bold;
}

h4 .emailRowDesrciption {
	font-weight: 400;
	color: gray;
	font-size:11px;
}