* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.headerLeft img{
	width:70px;
}
.row{ 
	align-items: center;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headerMiddle {
	display: flex;
	flex: 0.8;
	align-items: center;
	background-color: whitesmoke;
	border-radius: 5px;
	
}

.header .material img {
	width:25px;
}
.material img {
	width:25px;
}
.headerMiddle input {
	border: none;
	margin-left:100px;
	width: 100%;
	padding: 8px;
	outline: none;
	font-size: medium;
	background-color: transparent;
}

.headerRight {
	padding-right: 20px;
	display: flex;
	justify-content: end;

}

.headerRight .material {
	cursor: pointer;
}

.sideBarCompose {
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 15px;
	text-transform: capitalize;
	color: gray;
	padding: 15px;
	border-radius: 30px;
	background-color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}
.sideBarCompose {
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 15px;
	text-transform: capitalize;
	color: gray;
	padding: 15px;
	border-radius: 30px;
	background-color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sideBarCompose span {
	margin-right: 5px;
}

.sideBarOption {
	display: flex;
	align-items: center;
	padding: 13px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: #818181;
}

.sideBarOption h3 {
	flex: 1;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
}

.sideBarOption:hover,
.sideBarOption:hover h3,
.sideBarOption:hover .material,
.sideBarOptionActive,
.sideBarOptionActive h3,
.sideBarOptionActive .material {
	background-color: #fcecec;
	font-weight: 800;
}

.sideBarFooter {
	display: flex;
	justify-content: center;
}

.sideBarFooterIcons .material {
	margin: 7px;
	cursor: pointer;
}