* {
	margin: 0;
	padding: 0;
}
.headerLeft img{
	width:70px;
}
.row*{ 
	padding:0px;
}
.material img {
	width:25px;
}
.headerMiddle input {
	border: none;
	width: 100%;
	padding: 4px;
	background-color: transparent;
}
.headerRight .material {
	cursor: pointer;
}

body {
	font-family: arial, sans-serif;
}

.sideBarCompose {
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 15px;
	text-transform: capitalize;
	color: gray;
	padding: 15px;
	border-radius: 30px;
	background-color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sideBarCompose span {
	margin-right: 5px;
}

.sideBarOption {
	display: flex;
	align-items: center;
	padding: 3px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: #818181;
	width:140px;
}

.sideBarOption h3 {
	flex: 1;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
}

.sideBarOption:hover,
.sideBarOption:hover h3,
.sideBarOption:hover .material,
.sideBarOptionActive,
.sideBarOptionActive h3,
.sideBarOptionActive .material {
	background-color: #fcecec;
	color:#cd0b37;
}

.sideBarFooter {
	display: flex;
	justify-content: center;
}

.sideBarFooterIcons .material {
	margin: 7px;
	cursor: pointer;
}
.section {
	display: flex;
	align-items: center;
	border-bottom-width: 2px;
	padding: 15px;
	min-width: 200px;
	cursor: pointer;
	color: gray;
	border-width: 0;
}

.emailListSections {
	display: flex;
	background-color: white;
	border-bottom: 1px solid whitesmoke;
	z-index: 1;
}

.sectionSelected {
	background-color: whitesmoke;
	border-width: 3px;
	color: red;
	border-bottom: 3px solid red;
}

.section:hover {
	background-color: whitesmoke;
	border-width: 3px;
}

.section h4 {
	font-size: 14px;
	margin-left: 15px;
}

.emailRowOptions {
	display: flex;
	align-items: center;
}

.emailRowOptions .material img {
	width:18px;
}
h4,
h3{
	margin:0px;
}
.emailRow {
	display: flex;
	align-items: center;
	border-bottom: 1px solid whitesmoke;
	cursor: pointer;
	padding: 5px;
}

.emailRow:hover {
	border-top: 1px solid whitesmoke;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 24);
}

.emailRowMessage {
	display: flex;
	flex: 0.8;
	align-items: center;
	font-size: 13px;
	justify-content: center;
}

.emailRowMessage h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 13px;
}

.emailRowTitle {
	font-size: 13px;
	flex: 0.3;
}

.emailRowTime {
	padding-right: 15px;
	font-size: 10px;
	font-weight: bold;
}

h4 .emailRowDesrciption {
	font-weight: 400;
	color: gray;
}